<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFPluginManifest</key>
	<dict>
		<key>WFPluginDetail</key>
		<string>plugin.MediaSyncSupport.detail</string>
		<key>WFPluginHasInstallableContent</key>
		<true/>
		<key>WFPluginInjectionTargets</key>
		<dict>
			<key>Bundles</key>
			<array>
				<string>com.apple.Bridge</string>
				<string>com.apple.NanoMusicSync</string>
			</array>
			<key>Executables</key>
			<array/>
		</dict>
		<key>WFPluginMinimumSystemVersion</key>
		<integer>983040</integer> <!-- 15.0.0 -->
        <key>WFPluginMaximumSystemVersion</key>
        <integer>1048575</integer> <!-- 16.0.0 -->
		<key>WFPluginMinimumWatchOSVersion</key>
		<integer>589824</integer> <!-- 9.0.0 -->
		<key>WFPluginNanoCapabilities</key>
		<array>
			<string>06FB3B8E-7CE9-4C98-A47E-87BCCCB70EC1</string>
		</array>
		<key>WFPluginRestartExecutables</key>
		<array/>
		<key>WFPluginScopeIdentifier</key>
		<string>com.apple.Music</string>
		<key>WFPluginTitle</key>
		<string>plugin.MediaSyncSupport.title</string>
	</dict>
</dict>
</plist>
